@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.landing-page {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #080708;
}

#landing-canvas {
  width: 100vw;
  height: 100vh;
  background: url("../IMG/cosmos-bg.jpg") no-repeat fixed;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

.intro {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 5%;
  width: auto;
}
.intro .logo {
  width: 100px;
  height: 100px;
  position: relative;
}
.intro .logo img {
  width: 100%;
  height: auto;
}
.intro h1 {
  font-size: 6rem;
  font-family: "Orbitron", sans-serif;
  color: #3772ff;
}
.intro p {
  font-size: 2rem;
  font-family: "Audiowide", cursive;
  color: #a0ddff;
}

.newsletter {
  height: 80vh;
  padding: 10%;
  background: url("../IMG/team.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  color: white;
  color-interpolation-filters: sRGB;
}
.newsletter .content-news h2 {
  font-size: 72px;
  color: #3772ff;
}

.showcase {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.showcase .showcase-wrapper {
  width: 100%;
  color: #fcfcfc;
}
.showcase .showcase-wrapper .youtube {
  display: flex;
  height: auto;
  padding: 10%;
  width: 50%;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0;
  background-color: #c4302b;
}
.showcase .showcase-wrapper .youtube img {
  padding: 0;
  width: 300px;
  height: 200px;
}
.showcase .showcase-wrapper .youtube .videos {
  margin-bottom: 10%;
  padding: 10%;
  border-radius: 10%;
  -webkit-box-shadow: 13px 9px 24px 2px #242424;
  -moz-box-shadow: 13px 9px 24px 2px #242424;
  box-shadow: 13px 9px 24px 2px #242424;
}
.showcase .showcase-wrapper .youtube .videos iframe {
  flex-grow: 1;
}
.showcase .showcase-wrapper .youtube .videos .description {
  padding: 2rem;
  flex-grow: 1;
  font-size: 20px;
}
.showcase .showcase-wrapper .youtube .subscribe {
  color: #c4302b;
  background-color: white;
  transition: all ease-in-out 0.3s;
  border: none;
}
.showcase .showcase-wrapper .youtube .subscribe :hover {
  color: white;
  background-color: #c4302b;
  border: white 1px solid;
}
.showcase .showcase-wrapper .youtube .subscribe a {
  text-decoration: none;
  color: #c4302b;
}
.showcase .showcase-wrapper .youtube .subscribe a :hover {
  text-decoration: none;
  color: white;
}
.showcase .showcase-wrapper .github {
  display: flex;
  height: auto;
  padding: 10%;
  width: 50%;
  color: black;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0;
  background-color: white;
}
.showcase .showcase-wrapper .github img {
  padding: 10%;
  width: 180px;
  height: 180px;
}
.showcase .showcase-wrapper .github a {
  color: black;
  text-decoration: none;
}
.showcase .showcase-wrapper .github a .project {
  margin-bottom: 10%;
  padding: 10%;
  border-radius: 10%;
  -webkit-box-shadow: 13px 9px 24px 2px #242424;
  -moz-box-shadow: 13px 9px 24px 2px #242424;
  box-shadow: 13px 9px 24px 2px #242424;
}
.showcase .showcase-wrapper .github a .project img {
  width: 100%;
  height: auto;
  padding: 0;
}
.showcase .showcase-wrapper .github a .project .description {
  padding: 2rem;
  flex-grow: 1;
  font-size: 20px;
}
.showcase .showcase-wrapper .github a :hover {
  text-decoration: none;
  cursor: pointer;
}
.showcase .showcase-wrapper .github .follow {
  color: white;
  background-color: black;
  transition: all ease-in-out 0.3s;
  border: none;
}
.showcase .showcase-wrapper .github .follow :hover {
  color: black;
  background-color: white;
  border: black 1px solid;
}
.showcase .showcase-wrapper .github .follow a {
  text-decoration: none;
  color: white;
}
.showcase .showcase-wrapper .github .follow a :hover {
  text-decoration: none;
  color: black;
}

footer {
  margin: 0;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #3772ff;
}
footer h1 {
  color: #fcfcfc;
  font-size: 48px;
  font-family: "Orbitron", sans-serif;
  margin: 10%;
}
footer .container {
  width: 50vw;
}
footer .container a {
  text-decoration: none;
  color: #fcfcfc;
}
footer .container a :hover {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
footer .container a .row {
  margin-bottom: 30px;
}
footer .container a .row span {
  font-size: 24px;
}
footer .container a .row .round-profile {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: url("../IMG/luja.jpg") no-repeat;
  background-size: cover;
}
footer .container a .row .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
footer .container a .row .logo-fb {
  background: url("../IMG/fb.png") no-repeat;
  background-size: cover;
}
footer .container a .row .logo-yt {
  background: url("../IMG/youtube.png") no-repeat;
  background-size: cover;
}
footer .container a .row .logo-twitter {
  background: url("../IMG/twitter.png") no-repeat;
  background-size: cover;
}
footer .container a .row .logo-mail {
  background: url("../IMG/mail.png") no-repeat;
  background-size: cover;
  background-position: center;
}
footer .container a .row .logo-insta {
  background: url("../IMG/insta.png") no-repeat;
  background-size: cover;
}
footer .container a .row .logo-git {
  background: url("../IMG/git.png") no-repeat;
  background-size: cover;
}

html {
  overflow: auto;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(100, 100, 100, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.6);
}

/*# sourceMappingURL=style.css.map */
