.landing-page{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $secondary-dark;
}

#landing-canvas{
    width: 100vw;
    height: 100vh;
    background: url('../IMG/cosmos-bg.jpg') no-repeat fixed;
    background-size: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}

.intro{
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 5%;
    width: auto;
    .logo{
        width: 100px;
        height: 100px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    h1{
        font-size: 6rem;
        font-family: 'Orbitron', sans-serif;
        color: $secondary;
    }
    p{
        font-size: 2rem;
        font-family: 'Audiowide', cursive;
        color: $primary;
    }
}


.menu{
    width: 100%;
    height: 100vh;
    color: $secondary-dark;
    .main-menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: wrap row;
        .tutorials{
            flex-grow: 1;
            width: 60%;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background:url('../IMG/tutorial.jpg') no-repeat;
            background-size: cover;
            backdrop-filter: brightness(20%);
            transition: ease-in-out 0.3s;
            span{
                display: none;
                font-family: 'Audiowide', cursive;
                font-size: 4rem;
            }
            &:hover{
                opacity: 0.5;
                span{
                    display: inline;
                }
            }
        }
        .projects{
            flex-grow: 1;
            width: 40%;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background:url('../IMG/project.jpg') no-repeat;
            background-size: cover;
            backdrop-filter: brightness(20%);
            transition: ease-in-out 0.3s;
            span{
                display: none;
                font-family: 'Audiowide', cursive;
                font-size: 4rem;
            }
            &:hover{
                opacity: 0.5;
                span{
                    display: inline;
                }
            }
        }
        .team{
            flex-grow: 1;
            width: 45%;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background:url('../IMG/team.jpg') no-repeat;
            backdrop-filter: brightness(20%);
            background-size: cover;
            transition: ease-in-out 0.3s;
            span{
                display: none;
                font-family: 'Audiowide', cursive;
                font-size: 4rem;
            }
            &:hover{
                opacity: 0.5;
                span{
                    display: inline;
                }
            }
        }
        .contact{
            flex-grow: 1;
            height: 50vh;
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            background:url('../IMG/contact.jpg') no-repeat;
            background-size: cover;
            backdrop-filter: brightness(20%);
            transition: ease-in-out 0.3s;
            span{
                display: none;
                font-family: 'Audiowide', cursive;
                font-size: 4rem;
            }
            &:hover{
                opacity: 0.5;
                span{
                    display: inline;
                }
            }
        }
    }
}

.showcase{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    .showcase-wrapper{
        width: 100%;
        color: $font-dark;
        .youtube{
            display: flex;
            height: auto;
            padding: 10%;
            width: 50%;
            flex-flow: row wrap;
            justify-content: center;
            align-content: flex-start;
            margin: 0;
            background-color:  #c4302b;
            img{
                padding: 0;
                width: 300px;
                height: 200px;
            }
            .videos{
                margin-bottom: 10%;
                padding: 10%;
                border-radius: 10%;
                -webkit-box-shadow: 13px 9px 24px 2px rgba(36,36,36,1);
                -moz-box-shadow: 13px 9px 24px 2px rgba(36,36,36,1);
                box-shadow: 13px 9px 24px 2px rgba(36,36,36,1);
                iframe{
                    flex-grow: 1;
                }
                .description{
                    padding: 2rem;
                    flex-grow: 1;
                    font-size: 20px;
                }
            }
        }
        .github{
            display: flex;
            height: auto;
            padding: 10%;
            width: 50%;
            color: black;
            flex-flow: row wrap;
            justify-content: center;
            align-content: flex-start;
            margin: 0;
            background-color:  white;
            img{
                padding: 10%;
                width: 180px;
                height: 180px;
            }
            .project{
                margin-bottom: 10%;
                padding: 10%;
                border-radius: 10%;
                -webkit-box-shadow: 13px 9px 24px 2px rgba(36,36,36,1);
                -moz-box-shadow: 13px 9px 24px 2px rgba(36,36,36,1);
                box-shadow: 13px 9px 24px 2px rgba(36,36,36,1);
                img{
                    width: 35vw;
                    height: auto;
                    padding: 0;
                }
                .description{
                    padding: 2rem;
                    flex-grow: 1;
                    font-size: 20px;
                }
            }
        }
        // .events{
        //     display: flex;
        //     flex-grow: 1;
        //     justify-content: center;
        //     align-items: space-around;
        //     background-color: $primary;
        //     h1{
        //         margin-top: 10%;
        //     }
        //    .carousel-inner{
        //         width: 90vw;
        //         height: 60vh;
        //         .carousel-caption{
        //             position: absolute;
        //             left: 20%;
        //             top: 25%;
        //         }
        //     }
        // }
    }
}

@import 'footer.scss';